<navbar></navbar>
<div class="container">
 <p>This is the partial for login.</p>
 <p ng-show="salt"><strong>{{ username }}</strong> salt is <em>{{ salt }}</em></p>
 <p ng-show="secret"><strong>{{ username }}</strong> generated secret is <em>{{ secret }}</em></p>
 <p ng-show="secret">You should now have access to API because your're logged in</p>

 <p>Please enter a symfony valid user : </p>
 <form ng-submit="getSalt()" class="form-horizontal">
  <div class="form-group">
    <label for="user">Nombre de usuario:</label>
    <input class="form-control" name="user" type="text" ng-model="username"  size="30" placeholder="Nombre de usuario">
  </div>
 <div class="form-group">
  <label for="password">Contraseña</label>
  <input name="password" class="form-control" type="password" ng-model="password"  size="30" placeholder="contraseña">
 </div>

 <input class="btn btn-primary" type="submit" value="login">
 </form>
</div>
